.idea
.npmrc
.vscode
!.yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.dist.yml

cache/
coverage/
dist/
node_modules/
reports/
tests/temporary

.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
